@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,*::before, *::after{
    box-sizing: border-box; 
    margin: 0; 
}

body{
    height: 100vh; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-family: 'Outfit', sans-serif;
    background-color:hsl(212, 45%, 89%);
}

.container{
    background-color: #fff; 
    max-width: 350px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 1rem; 
    padding: 1rem; 
    border-radius: 15px; 
    box-shadow: 0 2px 25px rgba(31, 50, 81, 0.2); 
}

.code{
    max-width: 100%; 
    border-radius: 15px; 
}
.text{
    text-align: center;
    padding: 1rem;  
}

.head{
    font-weight: 700; 
    color: hsl(218, 44%, 22%); 
    font-size: 1.5rem; 
    margin-bottom: 1rem; 
}

.desc{
    color: hsl(220, 15%, 55%); 
}